.social-login {
    border-top: 1px solid rgba(255,255,255,0.8);
    padding-top: 30px;
    margin-top: 50px;
        .social__btn--github {
            background-color: hsl(216, 96%, 11%);
        }
        .social__btn--kakao {
            background-color: #fee501;
            color: black;
        }

}