extends base
include mixins/video

block content 
    form(method="GET").search__form
        input(placeholder= "검색할 단어", type="text", name="keyword")
        button 
            i.fa-solid.fa-magnifying-glass
    div.home__videos
        each video in videos 
            +video(video)
        else
            span.empty__message 영상이 없습니다!