extends ../base 

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="현재 비밀번호", name="oldPassword", type="password")
        input(placeholder="신규 비밀번호", name="newPassword", type="password")
        input(placeholder="신규 비밀번호 확인", name="newPasswordConfirmation", type="password")
        input(type="submit", value="비밀번호 변경")

